//   <div class="header">
//       <div class="headerImg hh">
//         <img src="../../assets/mIcon/title_back_white.png" alt="">
//       </div>
//       <p class="headerP hh">
//         拓客系统
//       </p>
//       <mt-button type="default">编辑</mt-button>
    //     <div class="headerImgSousuo hh">
    //         <img src="../../assets/mIcon/sousuo.png" alt="">
    //    </div>
//   </div>
.hh{
    float: left;
    position: absolute;
}
.header{
    height: 1.5rem;
    background: #f58b3d;
    .headerImg{
        width: .48rem;
        height: .72rem;
        margin: .4rem 3.52rem 0 .32rem;
        z-index: 999;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .headerP{
        line-height: 1.5rem;
        text-align: center;
        font-size: .54rem;
        color: #fff;
        width: 100%;
    }
    .mint-button{
        padding: 0;
        width: 1.8rem;
        height: .82rem;
        color: #ee7912;
        top: 0.35rem;
        left: 8rem;
      .mint-button-text{
      font-size: .38rem;
      }
    }
    .headerImgSousuo{
        width: .6rem;
        height: .6rem;
        right: .3rem;
        top: .5rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
}