.a {
    background: #f9f9f9;
    height: 19.2rem;
  }
  .bonusHead {
    div {
      float: left;
      p {
        font-size: 0.49rem;
        color: #fff;
        margin-top: 0.45rem;
        margin-left: 3.88rem;
      }
    }
    height: 1.5rem;
    background: #ff5959;
    .bonusHeadImg {
      width: 0.36rem;
      height: 0.62rem;
      margin-top: 0.44rem;
      margin-left: 0.36rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .bonusMain {
    .mint-button {
      margin-left: 0.36rem;
      width: 10.08rem;
      height: 1.44rem;
      background: #d1d1d1;
      margin-top: 1.04rem;
      .mint-button-text {
        font-size: 0.42rem;
      }
    }
    .MainMon {
      font-size: 0.66rem;
      margin-top: 1.39rem;
      margin-left: 3.88rem;
    }
    .MainText {
      font-size: 0.33rem;
      color: #989898;
      text-align: center;
      margin-top: 0.4rem;
    }
    .Main-text {
      color: #26a5ce;
      text-align: center;
      font-size: 0.33rem;
      margin-top: 0.62rem;
    }
    .bonusMainIpt {
      position: relative;
      margin-top: 0.3rem;
      height: 1.5rem;
      background: white;
      font-size: 0.41rem;
      span {
        position: relative;
        left: 0.43rem;
        top: 0.46rem;
      }
      input {
        font-size: 0.41rem;
        color: black;
        border: 0;
        outline: none;
        caret-color: rgb(226, 17, 17);
      }
    }
    .bonusMiPt {
      span {
        color: rgb(117, 117, 117);
      }
    }
    .bonusIpt {
      :nth-child(3) {
        left: 1.9rem;
      }
    }
  }