.mint-search {
  position: fixed;
  top: 0;
  z-index: 999;

  height: 1.5rem;
  background: #f59a53;
  width: 100%;
}
.mint-searchbar {
  background: 0rem;
  height: 0.93rem;
  width: 8.88rem;
  padding: 0;
  margin: 0.29rem 1.32rem 0.28rem 0.6rem;
}
.mint-searchbar-core {
  margin-left: 0.5rem;
}
.mint-searchbar-inner {
  width: 100%;
  opacity: 0.5;
}
.mintui-search:before {
  width: 0.43rem;
  height: 0.56rem;
}

.mint-swipe {
  height: 5.52rem;
  .mint-swipe-item {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .mint-swipe-indicators {
    .is-active {
      background: #e96e06;
    }
  }
}

.mint-swipe2 {
  height: 5.05rem;
  border-bottom: 0.15rem solid #f9f9f9;
}

.grid {
  border-bottom: 0.15rem solid #f9f9f9;
  height: 2.07rem;
  width: 100%;
  div:nth-child(1) {
    border: 0;
    width: 3.27rem;
    margin-left: 0.2rem;
    margin-right: 0.15rem;
    p {
      color: #4b4b4b;
      margin-top: 0.25rem;
    }
  }
  div {
    border-left: 2px solid #cccecd;
    margin-top: 0.57rem;
    margin-bottom: 0.3rem;
    float: left;
    width: 2.3rem;
    height: 1.19rem;
    text-align: center;
    .gridImg {
      height: 0.54rem;
      width: 0.65rem;
      margin-top: 0.24rem;
    }
    .gridImg1 {
      height: 0.66rem;
      margin-top: 0.18rem;
      width: 0.64rem;
    }
    span {
      margin-top: 0.28rem;
      display: block;
      color: #e96e04;
      font-weight: 700;
      font-size: 0.27rem;
    }
    p {
      font-size: 0.34rem;
      color: #e96e04;
    }
  }
}

.grid2 {
  div {
    float: left;
    width: 2.12rem;
    height: 1.9rem;
    margin: 0.3rem 0 0 0;
    span {
      border-radius: 100%;
      width: 1.32rem;
      height: 1.32rem;
      display: inline-block;
      margin-left: 0.4rem;
    }
    p {
      font-size: 0.34rem;
      text-align: center;
    }
  }
}
.homeMain {
  .item-list {
    .item-img {
      height: 5.54rem;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .item-text {
      padding: 0.4rem 0.24rem 0.4rem 0.37rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 0.43rem;
      font-weight: 900;
    }
    .item-price {
      height: 1.2rem;
      border-bottom: 0.1rem solid #f9f9f9;
      p {
        padding: 0.27rem 0 0 0.37rem;
      }
      .mint-button {
        height: 0.9rem;
        width: 2.56rem;
        background: #f97314;
        float: right;
        margin-top: 0.1rem;
        margin-right: 0.69rem;
      }
      p {
        float: left;
        font-size: 0.33rem;
        font-weight: 700;
        color: #666666;
        .i-price {
          color: #ee422c;
          font-size: 0.43rem;
        }
      }
    }
  }
}
.tabfoot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.65rem;
  margin-top: 3.08rem;
  border-top: 0.03rem solid #e0e0e0;
  background: #ffffff;

  .tabfoot1 {
    li {
      float: left;
      width: 1.05rem;
      height: 1.22rem;
      margin-left: 1.9rem;
      margin-top: 0.17rem;
      display: inline-block;
      text-align: center;
      position: relative;
      .footImg2 {
        display: none;
      }
      img {
        position: absolute;
        height: 0.67rem;
        width: 0.69rem;
        left: 0.2rem;
      }
      p {
        text-align: center;
        margin-top: 0.9rem;
        color: black;
      }
      .footP {
        color: #e96e04;
      }
    }
  }
}

.mint-loadmore-top {
  margin-top: 0.02rem;
}

.mint-swipe-indicators {
  bottom: 0.03rem;
}

.mint-button-text {
  font-size: 0.15rem;
  line-height: .9rem;
}
.mint-loadmore-bottom{
  margin-bottom: 0;
}